<!--
  Generated template for the Welcome page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>

<ion-content class="page-welcome no-scroll">
   <ion-slides class="welcome-slider" pager>
    <ion-slide *ngFor="let slide of shopSliders">
      <img [src]="slide.image">
    </ion-slide>
  </ion-slides> 

  <div class="content">
    <div class="title">
      Welcome to <span>E-APP</span>
    </div>
    <div class="line">
    </div>
    <div class="description">
     Temperary App for e-commerce<br>
     
    </div>
  </div>
</ion-content>


  <ion-footer class="clear-gap"  *ngIf="!ready">
  <progress-bar [progress]="loadProgress"></progress-bar>
</ion-footer>